.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel {
    white-space: nowrap;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.carousel-item {
    display: inline-block;
    width: 100%;
}

.carousel-item img {
    width: 100%;
}

.carousel-desc {
    width: 800px;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    color: white;
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    bottom: 20%;
    margin-left: 15%;
}

.carousel-toggle {
    position: absolute;
    width: 40px;
    cursor: pointer;
    top: 50%;
}

.left {
    left: 16px;
}

.right {
    right: 16px;
}

.carousel-indicators {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1.5em;
    z-index: 2;
}

.carousel-indicator-item {
    width: 15px;
    height: 15px;
    border: none;
    background: #fff;
    opacity: 0.5;
    margin: 0.2em;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    opacity: 1;
}